<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin:0;font-size: 23px;font-family: 华文楷体, serif;">
    <div class="container-fluid">
        <div class="navbar-header" style="margin-right: 20px;">
            <a class="navbar-brand" href="#" style="font-size: 30px;color: rgba(0,0,0,1)">Yummy系统管理员</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/admin">待审核</a></li>
                <li class="active"><a href="/adminDone">已审核</a></li>
                <li><a href="/adminStatistics">统计信息</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="title-store-name" class="dropdown-toggle" data-toggle="dropdown" href="#">
                        管理员
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="font-size: 18px;min-width: 115px;text-align: center;">
                        <li style="cursor: pointer" onclick="logout()"><a>登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 60px;font-family: 华文楷体, serif;">
    <table id="checked-table"
           data-detail-view="true"
           data-detail-formatter="detailFormatter"
           data-search="true"
           data-trim-on-search="true"
           data-locale="zh-CN"
           data-pagination="true"
           data-show-refresh="true"
           data-show-pagination-switch="true"
           data-sort-class="table-active"
           data-sortable="true"
           data-maintain-selected="true"
           style="font-size: 18px">
    </table>
</div>
</body>
<script>
    window.onload=function (ev) {
        $.ajax({
            url:'/getDoneRecords',
            type:'POST',
            cache:false,
            async:false,
            data:{},
            success:function (data) {
                loadTable(data);
            },
            error:function (x,s,e) {
                console.log(x.status+" "+s+" "+e)
            }
        });
    }
    function loadTable(doneCheckedStores) {
        $('#checked-table').bootstrapTable({
            showColumns: false,
            columns: [
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'applyTime',
                    title: '申请时间',
                    visible: true,
                    sortable:true
                },
                {
                    field:'checkTime',
                    title: '审核时间',
                    visible:true,
                    sortable:true
                },
                {
                    field: 'store_id',
                    title: '店铺识别码',
                    visible: true,
                    sortable:true
                },
                {
                    field: 'store_name',
                    title: '店铺名',
                    visible: true,
                    sortable:true
                },
                {
                    field: 'boss',
                    title: '店铺负责人',
                    visible: true,
                    sortable:true
                },
                {
                    field: 'type',
                    title: '经营范围',
                    visible: true,
                    sortable:true,
                    formatter: translateType
                },
                {
                    field:'state',
                    title:'审核结果',
                    visible:true,
                    sortable:true,
                    formatter: translateState
                }
            ],
            data: doneCheckedStores
        });
    }
    function translateType(value,row,index) {
        switch (value) {
            case 'HotFood':
                return "热制食品类";
            case 'FruitAndVegetable':
                return "果蔬生鲜";
            case 'Market':
                return "商店超市";
            case 'FlowerAndPlant':
                return "鲜花绿植";
            case 'HealthAndMedicine':
                return "医药健康";
            default:
                return "其他类别"
        }
    }
    function translateState(value,row,index) {
        switch (value) {
            case 'Pass':
                return "已通过";
            case 'Refuse':
                return "以拒绝";
        }
    }
    function detailFormatter(index, row) {
        var html=[];
        var name;
        $.each(row,function (key,value) {
            name = convertKey(key);
            if (name !== '') {
                html.push('<div> <span><b>' + name + ':</b> ' + value + ' </span> </div> ')
            }
        });
        return html.join('');
    }
    function convertKey(key) {
        switch (key) {
            case 'store_id':
                return "店铺识别码";
            case 'store_name':
                return "店铺名";
            case 'boss':
                return "法人代表";
            case 'email':
                return "联系方式";
            case 'type':
                return "经营范围";
            case 'address':
                return "店铺地址";
            default:
                return "";

        }
    }
    function logout(){
        localStorage.clear();
        window.location.href='/login';
    }
</script>
</html>