<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>商户界面</title>
    <style>
        .input-box:focus{
            background: none;
            border-bottom: solid 1px rgba(0,0,0,0.4);
            width: -webkit-fill-available
        }
        .input-box{
            border: solid 1px rgba(0,0,0,0);
            background: none;
            outline: none;
            width: -webkit-fill-available
        }
        .select-box{
            border: none;
            outline: none;
            background: none;
        }
        .page-title{
            text-align: center;
            font-family: 华文楷体, serif;

        }
        .standard{
            display: inline;
            font-size: 23px;
            font-family: 华文楷体, serif;
        }
        .num-input,.num-input:focus{
            text-align: center;
            width: 70px;
            margin: 0;
            display: inline;
            border: none;
            outline: none;
            border-bottom: solid 1px rgba(0,0,0,0.4);
        }
        .num-input:focus{
            border-bottom: solid 2px red;
        }
        .split{
            width: 100%;
            border-bottom: solid 1px black;
        }
        .nav-other{
            margin: 0;font-size: 23px;font-family: 华文楷体, serif;
        }
    </style>
</head>
<body>
<div>
    <!--导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top nav-other" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-right: 20px;">
                <a class="navbar-brand" href="#" style="font-size: 30px;color: rgba(0,0,0,1)">Yummy商家版</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/store_info">店铺信息</a></li>
                    <li><a href="/orderManage">订单管理</a></li>
                    <li><a href="/stockManage">商品管理</a></li>
                    <li><a href="/financial">财务数据</a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="title-store-name" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            店铺名
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="font-size: 18px;min-width: 115px;text-align: center;">
                            <li style="cursor: pointer" onclick="logout()"><a>登出</a></li>
                            <li><a href="/modifyPass">修改密码</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--页面内容-->
    <div style="width: 70%;margin-top: 60px;margin-left: auto;margin-right: auto; text-align: center">
        <!--店铺基本信息，更改需审核-->
        <h2 class="page-title">认证信息 <small id="store-state" style="color: cornflowerblue;">信息审核状态</small></h2>
        <table class="table table-hover" style="">
            <tbody>
                <tr>
                    <td>店铺编号</td>
                    <td style="text-align: left;"><input type="text" id="store-id" value="" readonly style="background: none;outline: none;border: none;"></td>
                </tr>
                <tr>
                    <td>店铺名称</td>
                    <td><input type="text" class="input-box" id="name" value=""></td>
                </tr>
                <tr>
                    <td>店铺类型</td>
                    <td style="text-align: left">
                        <select class="select-box" id="type-select">
                            <option id="store-type" value=""></option>
                            <option value="all" style="font-weight: 700;">店铺类别</option>
                            <option value="HotFood">热制食品</option>
                            <option value="FruitAndVegetable">果蔬生鲜</option>
                            <option value="Market">商店超市</option>
                            <option value="FlowerAndPlant">鲜花绿植</option>
                            <option value="HealthAndMedicine">医药健康</option>
                            <option value="Other">其他</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>店铺负责人</td>
                    <td><input type="text" class="input-box" id="boss" value=""></td>
                </tr>
                <tr>
                    <td>联系方式</td>
                    <td><input type="text" class="input-box" id="contact" value=""></td>
                </tr>
                <tr>
                    <td class="col1" rowspan="5">商铺地址</td>
                </tr>
                <tr>
                    <td><input class="input-box" id="province" type="text" value=""></td>
                </tr>
                <tr>
                    <td><input class="input-box" id="city" type="text" value=""></td>
                </tr>
                <tr>
                    <td><input class="input-box" id="area" type="text" value=""></td>
                </tr>
                <tr>
                    <td><input class="input-box" id="detail-address" type="text" value=""></td>
                </tr>
            </tbody>
        </table>
        <button id="modify-info" class="btn btn-success" style="outline: none;margin-bottom: 20px">确认更改</button>
        <div class="split"></div>
        <!--店铺满减优惠政策，更改不需审核-->
        <h2 class="page-title">满减策略<small style="color: cornflowerblue;">(至多5个)</small></h2>
        <div style="text-align: center">
            <div>
                <p class="standard">满</p>
                <input id="s0" class="num-input" value="" type="number" min="0">
                <p class="standard">减</p>
                <input id="r0" class="num-input" value="" type="number" min="0">
            </div>
            <div>
                <p class="standard">满</p>
                <input id="s1" class="num-input" value="" type="number" min="0">
                <p class="standard">减</p>
                <input id="r1" class="num-input" value="" type="number" min="0">
            </div>
            <div>
                <p class="standard">满</p>
                <input id="s2" class="num-input" value="" type="number" min="0">
                <p class="standard">减</p>
                <input id="r2" class="num-input" value="" type="number" min="0">
            </div>
            <div>
                <p class="standard">满</p>
                <input id="s3" class="num-input" value="" type="number" min="0">
                <p class="standard">减</p>
                <input id="r3" class="num-input" value="" type="number" min="0">
            </div>
            <div>
                <p class="standard">满</p>
                <input id="s4" class="num-input" value="" type="number" min="0">
                <p class="standard">减</p>
                <input id="r4" class="num-input" value="" type="number" min="0">
            </div>
            <button id="modify-strategy" class="btn-success btn" style="outline: none;margin-top:15px;margin-bottom: 20px">确认更改</button>
        </div>

        <div class="split"></div>
        <!--店铺简介，更改不需审核-->
        <h2 class="page-title">店铺简介</h2>
        <div class="form-group">
            <textarea id="introduce" class="form-control" rows="3" placeholder="100字以内" style="resize: none"></textarea>
        </div>
        <button id="modify-introduce" class="btn btn-success" style="outline: none;margin-bottom: 30px;">保存更改</button>
    </div>
</div>
<script>
    window.onload=function (ev) {
        var store_id = localStorage.getItem("username");
        // if(store_id == undefined){
        //     window.location.href="/login"
        // }
        var storeInfo={};
        $.ajax({
            url: "/getStoreInfo",
            type: "POST",
            cache: false,
            async: false,
            data:{
                store_id: store_id
            },
            success:function (data) {
                storeInfo = data;
                console.log("查找到的店铺信息："+JSON.stringify(storeInfo));
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log("错误状态码："+XMLHttpRequest.status+" 错误信息："+textStatus+" "+errorThrown);
            }
        });

        localStorage.setItem("store_name",storeInfo.name);

        $("#title-store-name").text(storeInfo.name);
        $("#store-state").text(changeStateToChinese(storeInfo.state));
        $("#store-id").attr("value",storeInfo.id);
        $("#name").attr("value",storeInfo.name);

        var store_type=document.getElementById("type-select");
        store_type.options[0].value=storeInfo.type;
        store_type.options[0].text=changeTypeToChinese(storeInfo.type);

        $("#boss").attr("value",storeInfo.boss);
        $("#contact").attr("value",storeInfo.email);
        $("#province").attr("value",storeInfo.province);
        $("#city").attr("value",storeInfo.city);
        $("#area").attr("value",storeInfo.area);
        $("#detail-address").attr("value",storeInfo.detail);

        $("#introduce").val(storeInfo.introduce);

        var discounts=storeInfo.discounts;
        console.log("策略数量："+discounts.length);
        console.log("策略数量："+discounts.size);
        var count=0;
        for (var key in discounts){
            var s=document.getElementById("s"+count);
            var r=document.getElementById("r"+count);
            s.value=key;
            r.value=discounts[key];
            count=count+1;
        }
    };
    function logout(){
        localStorage.clear();
        window.location.href='/login';
    }
    $("#modify-strategy").click(function () {
        var s0=$("#s0").val(),s1=$("#s1").val(),s2=$("#s2").val(),s3=$("#s3").val(),s4=$("#s4").val();
        var r0=$("#r0").val(),r1=$("#r1").val(),r2=$("#r2").val(),r3=$("#r3").val(),r4=$("#r4").val();
        var discounts = {};
        if((s0!=='') && (r0!=='') &&(parseInt(s0)> parseInt(r0))){
            discounts[s0]=r0;
        }
        if((s1!=='') && (r1!=='') && (parseInt(s1)> parseInt(r1))){
            discounts[s1]=r1;
        }
        if((s2!=='') && (r2!=='') && (parseInt(s2)> parseInt(r2))){
            discounts[s2]=r2;
        }
        if((s3!=='') && (r3!=='') && (parseInt(s3)> parseInt(r3))){
            discounts[s3]=r3;
        }
        if((s4!=='') &&(r4!=='') && (parseInt(s4)> parseInt(r4))){
            discounts[s4]=r4;
        }
        discounts["store_id"]=localStorage.getItem("username");
        $.ajax({
            url:"/modifyStrategy",
            type:"POST",
            contentType:"application/json",
            dataType:"json",
            cache:false,
            async:false,
            data:JSON.stringify(discounts),
            success:function (data) {
                location.reload();
            },
            error:function(XMLHttpRequest, textStatus, errorThrown) {
                alert("服务器连接错误,请重试");
                console.log("错误状态码："+XMLHttpRequest.status+"\n错误信息："+textStatus+"\n"+errorThrown);
            }
        })
    });
    $("#modify-info").click(function () {
        var store_id=$("#store-id").val();
        var store_name=$("#name").val();
        var store_type=$("#type-select").val();
        var boss = $("#boss").val();
        var contact = $("#contact").val();
        var province =$("#province").val();
        var city = $("#city").val();
        var area = $("#area").val();
        var detail_add = $("#detail-address").val();

        if(store_type === "all"){
            alert("请选择店铺类型")
        }else {
            $.ajax({
                url: "/modifyInfo",
                type: "POST",
                cache: false,
                async: false,
                data: {
                    store_id: store_id,
                    store_name: store_name,
                    store_type: store_type,
                    store_boss: boss,
                    contact: contact,
                    province: province,
                    city: city,
                    area: area,
                    detail_address: detail_add
                },
                success: function (data) {
                    if(data === "SUCCESS"){
                        alert("信息更改成功，等待后台审核");
                        $("#store-state").text("信息更改审核中");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("服务器出现错误，稍后重试");
                    console.log("错误状态码：" + XMLHttpRequest.status + ", 错误信息：" + textStatus + ", " + errorThrown);
                }
            })
        }
    });
    $("#modify-introduce").click(function () {
        var newIntroduce = $("#introduce").val();
        if(newIntroduce.length > 100){
            alert("店铺简介过长")
        }else {
            var store_id = localStorage.getItem("username");
            console.log("newIntroduce: "+newIntroduce);
            $.ajax({
                url: "/modifyIntroduce",
                type: "POST",
                cache: false,
                async: false,
                data:{
                    store_id: store_id,
                    introduce: newIntroduce
                },
                success:function (data) {
                    console.log("店铺简介更改成功");
                },
                error:function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log("错误状态码："+XMLHttpRequest.status+"\n错误信息："+textStatus+"\n"+errorThrown);
                }
            })
        }
    });
    function changeTypeToChinese(type) {
        switch (type) {
            case 'HotFood':
                return "热制食品类";
            case 'FruitAndVegetable':
                return "果蔬生鲜";
            case 'Market':
                return "商店超市";
            case 'FlowerAndPlant':
                return "鲜花绿植";
            case 'HealthAndMedicine':
                return "医药健康";
            default:
                return "其他类别"
        }
    }
    function changeStateToChinese(state) {
        switch (state) {
            case 'ToCheck':
                return "审核中";
            case 'ToModify':
                return "信息更改审核中";
            case 'Valid':
                return "已通过";
        }
    }
</script>
</body>
</html>