<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户界面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=S05BbP0B9UL0fjYlbuWTAbnRBES8jndB"></script>
    <link href="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.js"></script>
    <style>
        #category{
            line-height: 26px;
            padding: 10px 10px 10px 80px;
            background-color: #fff;
            position: relative;
            border: solid 1px #E7E7E7;
            border-radius: 3px;
            margin: 15px 19px 30px;
        }
        .class-item{
            white-space: nowrap;
            display: inline-block;
            margin: 5px 6px;
            color: #666;
        }
        .class-item:hover{
            background-color: #f6f6f6;
            text-underline: none;
            cursor: pointer;
        }
        .thumbnail{
            border: none;
        }
        .thumbnail:hover{
            cursor: pointer;
        }
    </style>
</head>
<body onload="loadStoreInfo()">
<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin:0;font-size: 23px;font-family: 华文楷体, serif;">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-right: 20px;">
                <a class="navbar-brand" href="#" style="font-size: 30px;color: rgba(0,0,0,1)">Yummy</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/user_home">商品主页</a></li>
                    <li><a href="/myOrder">我的订单</a></li>
                    <li><a href="/personal">个人中心</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="title-username" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            用户名
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="font-size: 18px;min-width: 115px;text-align: center;">
                            <li style="cursor: pointer" onclick="logout()"><a>登出</a></li>
                            <li><a href="/modifyPass">修改密码</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 60px;width: 95%;margin-left: auto;margin-right: auto;">
        <div id="map"></div>
        <div style="margin-left: 25px">
            <a id="city" href="#">城市定位</a>
            <button id="choose-address" type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalTable">选择地址</button>
        </div>
        <div id="category" style="display: none">
            <span style="position: absolute;left: 10px;top: 13px; color: #999;">商家分类：</span>
            <p class="class-item">全部分类</p>
            <p class="class-item">鲜花绿植</p>
            <p class="class-item">医药健康</p>
            <p class="class-item">热制食品</p>
            <p class="class-item">果蔬生鲜</p>
            <p class="class-item">商店超市</p>
        </div>
        <div class="stores" id="storeList" style="display: block;margin-left: 15px;margin-right: 15px">
            <!--显示查找到的店铺信息，包括店铺名称和店铺简介-->
            <!--<div class="row">-->
                <!--<div class="col-sm-6 col-md-2" id="">-->
                    <!--<div class="thumbnail">-->
                        <!--<img src="../../static/images/test.jpg">-->
                        <!--<div class="caption">-->
                            <!--<h4 style="display: inline;">店铺名字</h4>-->
                            <!--<br>-->
                            <!--<p style="display: inline;">描述</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div id="location-error" style="display: none;text-align: center;font-size: 25px;font-family: 华文楷体, serif;margin-top: 60px;">
            <p id="prompt">定位失败，请选择地址后查看店铺</p>
        </div>
    </div>
    <div id="modalTable" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <table id="address-table">
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="add-new-address" type="button" class="btn btn-primary" style="float: left;">新增地址</button>
                    <button id="choose-address-from-table" type="button" class="btn btn-success" data-dismiss="modal" style="float: left;">选择地址</button>
                    <button id="choose-cancel" type="button" class="btn btn-dark" data-dismiss="modal" style="float: right">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--<table id="test"></table>-->
</div>

<script type="text/javascript">
    $("#choose-address-from-table").click(function () {
        var $table=$("#address-table");
        var chosen = $table.bootstrapTable('getSelections');
        if(chosen.length===0){
           alert("未选择地址");
        }else{
            localStorage.setItem('address',JSON.stringify(chosen[0]));
            // loadStoreInfo();
            var city=chosen[0].city;
            $("#city").text(city+chosen[0].area+chosen[0].detail);
            showStoresInSameCity(city)
        }
    });
    $("#choose-address").click(function () {
        $("#modalTable").on('shown.bs.modal',function () {
            var addresses=[];
            // var addresses=[{id:0,name:'张',telephone:'1288319291',province:'江苏省',city:'南京市',area:'玄武区',detail:'西乡街道xx号'},
            //     {id:1,name:'张',telephone:'1288319291',province:'江苏省',city:'南京市',area:'玄武区',detail:'西乡街道xx号'}];
            $.ajax({
                url:"/getAddressList",
                type:"POST",
                cache:false,
                async:false,
                data:{
                    username:localStorage.getItem('username')
                },
                success:function (data) {
                    addresses=data;
                },
                error:function (XMLHttpRequest, status, error) {
                    console.log(XMLHttpRequest.status+" "+status+" "+error)
                }
            });
            $("#address-table").bootstrapTable({
                checkboxHeader: false,
                singleSelect:true,
                clickToSelect:true,
                showColumns:false,
                sidePagination: 'server',
                columns: [
                    {
                        checkbox:true
                    },
                    {
                        field: 'id',
                        title: '地址编号',
                        visible: false
                    },
                    {
                        field: 'name',
                        title: '收货人',
                        visible: true
                    },
                    {
                        field:'telephone',
                        title:'收货电话',
                        visible:true
                    },
                    {
                        field:'province',
                        title:'省',
                        visible:false
                    },
                    {
                        field:'city',
                        title:'市',
                        visible:false
                    },
                    {
                        field:'area',
                        title:'区',
                        visible:true
                    },
                    {
                        field:'detail',
                        title:'地址',
                        visible:true
                    }
                ],
                data:addresses
            });
        })
    });
    // 跳转到具体店铺页面时，设置localStorage.setItem("store_id",store_id)
    function loadStoreInfo() {
        $("#title-username").text(localStorage.getItem("username"));
        if(localStorage.getItem('address')==undefined){
            locationCity();
        }else{
            var address=JSON.parse(localStorage.getItem('address'));
            var city=address.city;
            $("#city").text(city+address.area+address.detail);
            showStoresInSameCity(city);
        }
    }
    function locationCity() {
        //百度地图定位API
        console.log("定位中");
        var map = new BMap.Map("map");
        var point = new BMap.Point(116.331398, 39.897445);
        map.centerAndZoom(point, 12);
        var city = document.getElementById("city");
        function myFun(result) {
            var cityName = result.name;
            map.setCenter(cityName);
            city.innerText=cityName;
            loadPage(city.innerText);
        }
        var myCity = new BMap.LocalCity();
        myCity.get(myFun);
    }
    function loadPage(address) {
        if(address === '城市定位'){//定位失败
            showNoStores();
        }else {//定位成功,显示同城市的店铺
            showStoresInSameCity(address);
        }
    }
    function showStoresInSameCity(cityName) {
        var storeList=[];
        $.ajax({
            url: "/getStoreInfoList",
            type: "POST",
            cache: false,
            async: false,
            data:{
                cityName: cityName
            },
            success:function (data) {
                storeList = data;
                console.log("返回值："+JSON.stringify(data));
            },
            error:function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("错误状态码："+XMLHttpRequest.status+" 错误信息："+textStatus+" "+errorThrown);
            }
        });
        //每6个店铺生成一个div--row
        if(storeList ===undefined||storeList ===null||storeList==[]||storeList.length ===0 ){
            $("#storeList").css("display","none");
            $("#prompt").text("附近未查找到店铺");
            $("#location-error").css("display","block");
        }else {
            var storeNum = storeList.length;
            for(var i=0;i<(storeNum/6);i++){
                var row = document.createElement("div");
                row.className="row";
                for(var j=0;j<6;j++){
                    if(6*i+j>=storeNum){
                        break;
                    }
                    var one_store = document.createElement("div");
                    one_store.className="col-sm-6 col-md-2";
                    one_store.id=storeList[6*i+j].storeID;
                    one_store.onclick=function () {
                        localStorage.setItem("store_id",this.id);
                        window.location.href='/storeDetail';
                    };
                    var thumbnail = document.createElement("div");
                    thumbnail.className="thumbnail";
                    var img=document.createElement("img");
                    img.src="/images/stores/store"+(6*i+j)%10+".jpg";
                    img.style.width='180px';
                    img.style.height='120px';
                    var caption = document.createElement("div");
                    caption.className="caption";
                    var h4 = document.createElement("h4");
                    h4.style.display="inline";
                    h4.innerText=storeList[6*i+j].storeName;
                    var lineS = document.createElement("br");
                    var p= document.createElement("p");
                    p.style.display="inline";
                    p.innerText=storeList[6*i+j].description;

                    caption.append(h4);
                    caption.append(lineS);
                    caption.append(p);

                    thumbnail.append(img);
                    thumbnail.append(caption);
                    one_store.append(thumbnail);
                    row.append(one_store);
                }
                $("#storeList").append(row)
            }
        }

    }
    function showNoStores() {
        var stores = document.getElementById("storeList");
        var location_error = document.getElementById("location-error");
        stores.style.display = "none";
        location_error.style.display = "block";
    }
    function logout(){
        localStorage.clear();
        window.location.href='/login';
    }
</script>
</body>
</html>