<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin:0;font-size: 23px;font-family: 华文楷体, serif;">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-right: 20px;">
                <a class="navbar-brand" href="#" style="font-size: 30px;color: rgba(0,0,0,1)">Yummy</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/store_home">商品主页</a></li>
                    <li><a href="/orderManage">我的订单</a></li>
                    <li class="active"><a href="/stockManage">个人中心</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="title-store-name" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            用户名
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="font-size: 18px;min-width: 115px;text-align: center;">
                            <li><a href="/login">登出</a></li>
                            <li><a href="/modifyPass">修改密码</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="margin-top: 60px">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-tabs nav-stacked" style="font-size: 22px;font-family: 华文楷体, serif;text-align: center">
                    <li class="active"><a href="#">基本信息</a></li>
                    <li><a href="">地址管理</a></li>
                    <li><a href="">账户管理</a></li>
                    <li><a href="">账号设置</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                主窗口
            </div>
        </div>
    </div>
</div>
</body>
</html>