<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.js"></script>
    <script src="/js/echarts.js"></script>
    <style>
        .basic-info:focus{
            background: none;
            border-bottom: solid 1px rgba(0,0,0,0.4);
            width: -webkit-fill-available
        }
        .basic-info{
            border: solid 1px rgba(0,0,0,0);
            background: none;
            outline: none;
            width: -webkit-fill-available
        }
        #new-account-block,#new-address-block{
            position: absolute;
            font-size: 20px;
            top: 45px;
            left: 147px;
            width: 60%;
            background: #eeeeee;
            padding: 20px 70px;
            border-radius: 10px;
            display: none;
        }
        .btn{
            font-size: 18px;
        }
        #new-address-block>input[type='text']{
            font-size: 18px;
        }
    </style>
</head>
<body>
<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin:0;font-size: 23px;font-family: 华文楷体, serif;">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-right: 20px;">
                <a class="navbar-brand" href="#" style="font-size: 30px;color: rgba(0,0,0,1)">Yummy</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/user_home">商品主页</a></li>
                    <li><a href="/myOrder">我的订单</a></li>
                    <li class="active"><a href="/personal">个人中心</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id= "title-store-name" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            用户名
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="font-size: 18px;min-width: 115px;text-align: center;">
                            <li style="cursor: pointer" onclick="logout()"><a>登出</a></li>
                            <li><a href="/modifyPass">修改密码</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="margin-top: 60px">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-tabs nav-stacked" style="font-size: 22px;font-family: 华文楷体, serif;text-align: center">
                    <li class="active"><a href="#basic" data-toggle="tab">基本资料</a></li>
                    <li onclick="loadAddressTable()"><a href="#addressManage" data-toggle="tab">地址管理</a></li>
                    <li onclick="loadAccountTable()"><a href="#accountManage" data-toggle="tab">支付管理</a></li>
                    <li onclick="loadCustomerStatistics()"><a href="#statistics" data-toggle="tab">消费统计</a></li>
                </ul>
            </div>
            <div class="col-md-10 tab-content">
                <div class="tab-pane fade in active" id="basic" style="font-family: 华文楷体, serif">
                    <div class="col-md-6">
                        <div>
                            <h2 style="margin-top: 0;">基本信息</h2>
                            <table class="table" style="font-size: 20px;margin-top: 3px;margin-left: 10px;;">
                                <tr>
                                    <td>邮箱</td>
                                    <td colspan="2"><input id="email" type="text" placeholder="" value="" readonly style="background: none;outline: none;border: none"></td>
                                </tr>
                                <tr>
                                    <td>用户名</td>
                                    <td><input id="nickname" class="basic-info" type="text" placeholder="设置用户名" value=""></td>
                                    <td><button id="modify-nickname" class="btn btn-primary">保存</button></td>
                                <tr>
                                    <td>联系电话</td>
                                    <td><input id="tel" class="basic-info" type="text" placeholder="设置联系电话" value=""></td>
                                    <td><button id="modify-tel" class="btn btn-primary">保存</button></td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <h2>我的等级</h2>
                            <p id="level" style="font-size: 25px;margin-left: 10px;">3</p>
                        </div>
                        <div>
                            <h2>注销账户<small>(账户一旦注销不能恢复)</small></h2>
                            <button id="close-account" class="btn btn-danger" style="margin-left: 10px">我要注销</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="addressManage" style="font-family: 华文楷体, serif">
                    <div style="margin-top: 15px;width: 80%;font-size: 18px;">
                        <table id="address-table" class="table"></table>
                        <div style="margin-top: 30px;margin-left: 10px;">
                            <div id="remove-address" class="btn btn-danger" style="float: right">删除</div>
                            <div id="add-new-address" class="btn btn-primary" style="float: right;margin-right: 5px;">新增</div>
                        </div>
                        <div id="new-address-block" class="form-group">
                            <label for="new-name">收货人</label>
                            <input class="form-control" id="new-name" type="text" placeholder="收货人……" value="">
                            <label for="new-tel">收货人</label>
                            <input class="form-control" id="new-tel" type="text" placeholder="收货电话……" value="">
                            <label for="new-province">省</label>
                            <input class="form-control" id="new-province" type="text" placeholder="省……" value="">
                            <label for="new-city">市</label>
                            <input class="form-control" id="new-city" type="text" placeholder="市……" value="">
                            <label for="new-area">区</label>
                            <input class="form-control" id="new-area" type="text" placeholder="区……" value="">
                            <label for="new-detail">具体街道</label>
                            <input class="form-control" id="new-detail" type="text" placeholder="具体街道……" value="">
                            <div class="btns" style="text-align: center;margin-top: 10px;">
                                <button id="add-address-cancel" class="btn btn-dark" style="margin-right: 5px;">取消</button>
                                <button id="add-address-sure" class="btn btn-success">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="accountManage" style="font-family: 华文楷体, serif">
                    <div style="font-size: 18px;margin-top: 15px;width: 80%">
                        <table id="account-table" class="table"></table>
                        <div style="margin-left: 10px;margin-top: 20px;">
                            <div id="remove-account" class="btn btn-danger" style="float: right">解绑</div>
                            <div id="add-new-account" class="btn btn-primary" style="float: right;margin-right: 5px;">新增</div>
                        </div>
                        <div id="new-account-block" class="form-group">
                            <label for="newAccount">绑定新的银行卡</label>
                            <input class="form-control" id="newAccount" type="text" placeholder="输入新的银行卡号……" value="" style="font-size: 18px">
                            <div class="btns" style="text-align: center;margin-top: 10px;">
                                <button id="add-account-cancel" class="btn btn-dark" style="margin-right: 5px;">取消</button>
                                <button id="add-account-sure" class="btn btn-success">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="statistics" style="font-family: 华文楷体, serif">
                    <div class="container">
                        <div class="row" style="font-size: 20px">
                            <style>
                                .temp{
                                    font-size: 25px;
                                    margin-left: 10px;
                                }
                            </style>
                            <div class="col-md-6">
                                <h2>完成订单</h2>
                                <p id="p1" class="temp"></p>
                            </div>
                            <div class="col-md-6">
                                <h2>总金额</h2>
                                <p id="p2" class="temp"><small>元</small></p>
                            </div>
                            <div class="col-md-6">
                                <h2>需扣款订单<small style="color: red;">商家接单后取消订单扣除原单30%</small></h2>
                                <p id="p3" class="temp"></p>
                            </div>
                            <div class="col-md-6">
                                <h2>扣款金额</h2>
                                <p id="p4" class="temp"><small>元</small></p>
                            </div>
                            <div class="col-md-6">
                                <h2>取消订单数</h2>
                                <p id="p5" class="temp"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h2>每笔订单金额分布</h2>
                                <div id="perCost" style="width: 400px;height: 400px"></div>
                            </div>
                            <div class="col-md-6">
                                <h2>消费店铺类型分布</h2>
                                <div id="perType" style="width: 400px;height: 400px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload=function (ev) {
        $('#title-username').text(localStorage.getItem('username'));
        var customer;
        $.ajax({
            url: "/getCustomerInfo",
            type:"POST",
            cache: false,
            async: false,
            data:{
                username:localStorage.getItem('username')
            },
            success: function (data) {
                customer=data;
                initBasicInfoAndLevel(customer);
            },
            error:function (XMLHttpRequest, status, error) {
                console.log(XMLHttpRequest.status+" "+status+" "+error)
            }
        });
    };
    function initBasicInfoAndLevel(data) {
        $('#email').val(data.email);
        $('#nickname').val(data.name);
        $('#tel').val(data.tel);
        $('#level').html(data.level);
    }
    function loadAccountTable() {
        var $table=$('#account-table');
        var accounts=[];
        $.ajax({
            url:"/getAccountList",
            type:"POST",
            cache:false,
            async:false,
            data:{
                username:localStorage.getItem('username')
            },
            success:function (data) {
                accounts=data;
            },
            error:function (XMLHttpRequest, status, error) {
                console.log(XMLHttpRequest.status+" "+status+" "+error)
            }
        });
        $table.bootstrapTable({
            clickToSelect:true,
            showColumns:false,
            columns:[
                {
                    checkbox:true
                },
                {
                    field:'account',
                    title:'银行卡账号'
                }
            ],
            data:accounts
        })
    }
    function loadAddressTable() {
        var $table=$('#address-table');
        var addresses=[];
        $.ajax({
            url:"/getAddressList",
            type:"POST",
            cache:false,
            async:false,
            data:{
                username:localStorage.getItem('username')
            },
            success:function (data) {
                addresses=data;
            },
            error:function (XMLHttpRequest, status, error) {
                console.log(XMLHttpRequest.status+" "+status+" "+error)
            }
        });
        $table.bootstrapTable({
            clickToSelect:true,
            showColumns:false,
            sidePagination: 'server',
            columns: [
                {
                    checkbox:true
                },
                {
                    field: 'id',
                    title: '地址编号',
                    visible: false
                },
                {
                    field: 'name',
                    title: '收货人',
                    visible: true
                },
                {
                    field:'telephone',
                    title:'收货电话',
                    visible:true
                },
                {
                    field:'province',
                    title:'省',
                    visible:false
                },
                {
                    field:'city',
                    title:'市',
                    visible:false
                },
                {
                    field:'area',
                    title:'区',
                    visible:true
                },
                {
                    field:'detail',
                    title:'地址',
                    visible:true
                }
            ],
            data:addresses
        });
    }
    function loadCustomerStatistics() {
        $.ajax({
            url:'/getCustomerStatistics',
            type:'POST',
            cache:false,
            async:false,
            data:{
                username:localStorage.getItem('username')
            },
            success:function (data) {
                showStatics(data);
            },
            error:function (x,s,e) {
                console.log(x.status+ " "+s+" "+e);
                alert("服务器连接失败");
            }
        })
    }
    function showStatics(data) {
        $("#p1").html(data.overOrdersNum);
        $("#p2").html(data.overOrdersConsume+'<small>元</small>');
        $("#p3").html(data.cancelPayNum);
        $("#p4").html(data.payForCancelOrders+'<small>元</small>');
        $("#p5").html(data.cancelOrdersNum);
        var orderPerCost=[];
        var name=['<20元','20-30元','30-40元','>40元'];
        for(var n=0;n<4;n++){
            orderPerCost.push({name:name[n],value:data.orderNumsPerPrice[n]});
        }
        initCostPie(name,orderPerCost);
        var types=['热制食品','果树生鲜','商店超市','鲜花绿植','医药健康','其他'];
        var orderPerType=[];
        for(var m=0;m<6;m++){
            orderPerType.push({name:types[m],value:data.ordersNumPerStoreType[m]});
        }
        initTypePie(types,orderPerType);
    }
    function initCostPie(legendName,ordersPerCost) {
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: legendName,
                textStyle: {
                    fontFamily: '华文楷体',
                    fontSize: 16
                }
            },
            series: [
                {
                    name: '消费',
                    type: 'pie',
                    radius: 70,
                    center: ['70%', '50%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: ordersPerCost
                }
            ]
        };
        var pie=echarts.init(document.getElementById('perCost'));
        pie.setOption(option);
    }
    function initTypePie(types,ordersPerType) {
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: types,
                textStyle: {
                    fontFamily: '华文楷体',
                    fontSize: 16
                }
            },
            series: [
                {
                    name: '消费类型',
                    type: 'pie',
                    radius: 70,
                    center: ['70%', '50%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: ordersPerType
                }
            ]
        };
        var pie=echarts.init(document.getElementById('perType'));
        pie.setOption(option);
    }
    function logout(){
        localStorage.clear();
        window.location.href='/login';
    }

    //基本信息界面
    $('#modify-nickname').click(function () {
        $.ajax({
            url:'/modifyName',
            type:'POST',
            cache:false,
            async:false,
            data:{
                username:localStorage.getItem('username'),
                newName:$('#nickname').val()
            },
            success:function(data){
                //不需要返回值
            },
            error:function (XMLHttpRequest, status, error) {
                console.log(XMLHttpRequest.status+" "+status+" "+error)
            }
        })
    });
    $('#modify-tel').click(function () {
        $.ajax({
            url:'/modifyTel',
            type:'POST',
            cache:false,
            async:false,
            data:{
                username:localStorage.getItem('username'),
                newTel:$('#tel').val()
            },
            success:function(data){
                //不需要返回值
            },
            error:function (XMLHttpRequest, status, error) {
                console.log(XMLHttpRequest.status+" "+status+" "+error)
            }
        })
    });
    $('#close-account').click(function () {
        var con;
        con=confirm('确认注销账户?一旦注销，无法恢复!!!');
        if(con){
            $.ajax({
                url:'/closeAccount',
                type:'POST',
                cache:false,
                async:false,
                data:{
                    username:localStorage.getItem('username')
                },
                success:function (data) {
                    if(data==='SUCCESS'){
                        alert("注销成功");
                        localStorage.clear();
                        window.location.href='/login';
                    }
                },
                error:function (XMLHttpRequest, status, error) {
                    console.log(XMLHttpRequest.status+" "+status+" "+error);
                    alert("服务器连接失败，请重试")
                }
            })
        }
    });
    //地址管理部分
    $("#add-new-address").click(function () {
        $("#new-address-block").css("display","block")
    });
    $("#add-address-cancel").click(function () {
        $("#new-address-block").css("display","none")
    });
    $("#add-address-sure").click(function () {
        var username=localStorage.getItem("username");
        var province=$("#new-province").val();
        var city=$("#new-city").val();
        var area=$("#new-area").val();
        var detail=$("#new-detail").val();
        var tel=$("#new-tel").val();
        var name=$("#new-name").val();
        if(username===''||province===''||city===''||area===''||detail===''||tel===''||name===''){
            alert("请将信息填写完整")
        }else{
            $.ajax({
                url:"/addNewAddress",
                type:"POST",
                cache:false,
                async:false,
                data:{
                    username:username,
                    province:province,
                    city:city,
                    area:area,
                    detail:detail,
                    tel:tel,
                    name:name
                },
                success:function (data) {
                    $("#new-address-block").css("display","none");
                    $("#address-table").bootstrapTable("destroy");
                    loadAddressTable();
                },
                error:function (XMLHttpRequest, status, error) {
                    console.log(XMLHttpRequest.status+" "+status+" "+error);
                    alert("服务器连接失败，请重试")
                }
            })
        }
    });
    $("#remove-address").click(function () {
        var $table=$("#address-table");
        var chosen=$.map($table.bootstrapTable('getSelections'),function (row) {
            return row.id;
        });
        alert(JSON.stringify(chosen));
        if(chosen.length===0){
            alert("选择为空")
        }else{
            var con;
            con=confirm("确认要删除这些地址吗?");
            if(con){
                var data={
                    username:localStorage.getItem("username"),
                    lists:chosen
                };
                $.ajax({
                    url:'/deleteAddress',
                    type:"POST",
                    contentType:"application/json",
                    dataType:"json",
                    cache:false,
                    async:false,
                    data: JSON.stringify(data),
                    success:function () {
                        $("#address-table").bootstrapTable("destroy");
                        loadAddressTable();
                    },
                    error:function (XMLHttpRequest, status, error) {
                        console.log(XMLHttpRequest.status+" "+status+" "+error);
                        alert("服务器连接失败，请重试")
                    }
                })
            }
        }
    });
    //银行账户管理
    //添加
    $("#add-new-account").click(function () {
        $('#new-account-block').css('display','block')
    });
    $("#add-account-cancel").click(function () {
       $('#new-account-block').css('display','none')
    });
    $("#add-account-sure").click(function () {
        var newAccount=$("#newAccount").val();
        var reg= new RegExp("^[0-9]+$");
        if(newAccount===''){
            alert("填写为空")
        }else if(!reg.test(newAccount)){
            alert("填写的新账户包含非法字符，请检查")
        }else{
            $.ajax({
                url:"/addNewAccount",
                type:"POST",
                cache:false,
                async:false,
                data:{
                    username:localStorage.getItem("username"),
                    account:newAccount
                },
                success:function () {
                    $("#new-account-block").css("display","none");
                    $("#account-table").bootstrapTable("destroy");
                    loadAccountTable();
                },
                error:function (XMLHttpRequest, status, error) {
                    console.log(XMLHttpRequest+" "+status+" "+error);
                    alert("添加失败，请重试")
                }
            })
        }
    });
    //删除
    $("#remove-account").click(function () {
        var $table=$("#account-table");
        var chosen=$.map($table.bootstrapTable('getSelections'),function (row) {
            return row.account;
        });
        if(chosen.length===0){
            alert("选择为空")
        }else{
            var con;
            con=confirm("确认解绑?解绑后将不用用次账户付款");
            if(con){
                var data={
                    username:localStorage.getItem("username"),
                    lists:chosen
                };
                $.ajax({
                    url:'/deleteAccount',
                    type:"POST",
                    contentType:"application/json",
                    dataType:"json",
                    cache:false,
                    async:false,
                    data: JSON.stringify(data),
                    success:function () {
                        $("#account-table").bootstrapTable("destroy");
                        loadAccountTable();
                    },
                    error:function (XMLHttpRequest, status, error) {
                        console.log(XMLHttpRequest.status+" "+status+" "+error);
                        alert("服务器连接失败，请重试")
                    }
                })
            }
        }
    });
</script>
</body>
</html>