<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{
            background: #f7f7f7;
        }
        .head-img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-right: 15px;
        }
        #header-info{
            background: url("../../static/images/ele-bg.jpg") no-repeat;
            background-size: cover;
        }
        #store-name:hover{
            color: #337ab7;
        }
        .food-type{
            display: inline-block;
            margin-right: 40px;
            cursor: pointer;
            color: #000;
        }
        .food-type:hover{
            text-decoration: none;
        }
        #good-type-list{
            padding: 10px 15px;
            margin-top: 10px;
            font-size: 20px;
            font-family: 华文楷体,serif;
            background: white;
            border: 1px solid #eee;
            width: fit-content;
        }
        .good-block{
            margin-bottom: 5px;
            background: #fff;
            border: 1px solid #eeeeee;
            padding: 0;
            width: 48%;
            margin-right: 2%;
            /*height: 120px;*/
        }
        .type-head{
            text-align: left;
        }
        .food-img {
            width: 120px;
            height: 120px;
        }
        .row2{
            margin-left: 0;
            margin-right: 0;
            width: 102%;
            margin-bottom: 15px;
        }
        .good-info{
            display: inline-block;
            vertical-align: top;
            font-family: 华文楷体, serif;
            height: 120px;
            margin-left: 5px;
        }
        .good-name{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .good-desc{
            font-size: 16px;
        }
        .good-price{
            position: absolute;
            color: #337ab7;
            font-weight: 800;
            bottom: 10px;
        }
        .add-to-cart{
            border-radius: 5px;
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
        #pay{
            position: fixed;
            bottom: 0;
            right: 0;
            width: 120px;
            height: 54px;
            border: none;
            font-size: 24px;
        }
        #total{
            display: inline-block;
            height: 54px;
            font-size: 27px;
            margin:0;
            padding-top: 10px;
            width: 160px;
            bottom: 0;
        }
        .price-and-amount{
            width: 17%;
            vertical-align: middle;
            display: table-cell;
            font-size: 17px;
        }
        .cart-num-input{
            background:#ffffff;
            height: 23px;
            padding: 0;
            text-align: center
        }
        .cart-list{
            height: 40px;
            width: 100%;
            display: table;
            table-layout: fixed;
            font-family: 华文楷体, serif;
            border-bottom: 1px solid #eee;
        }
        .name{
            width: 55%;
            font-size: 19px;
            display: table-cell;
            vertical-align: middle
        }
        .quantity-add,.quantity-remove{
            padding: 0;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div>
    <!--导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin:0;font-size: 23px;font-family: 华文楷体, serif;">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-right: 20px;">
                <a class="navbar-brand" href="#" style="font-size: 30px;color: rgba(0,0,0,1)">Yummy</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/store_home">商品主页</a></li>
                    <li><a href="/orderManage">我的订单</a></li>
                    <li><a href="/stockManage">个人中心</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="title-username" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            用户名
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="font-size: 18px;min-width: 115px;text-align: center;">
                            <li style="cursor: pointer" onclick="logout()"><a>登出</a></li>
                            <li><a href="/modifyPass">修改密码</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--店铺基本信息-->
    <div id="header-info">
        <div class="container" style="color: white;margin-top: 51px;display: table;height: 140px;font-family: 华文楷体, serif;z-index: 1">
            <div id="main-info" style="display: table-cell;width: 70%;vertical-align: middle;">
                <img class="head-img" src="../../static/images/image.jpg" >
                <div id="name-intro" style="display: inline-block;vertical-align: middle;">
                    <h2 id="store-name" style="cursor: pointer"></h2>
                    <h4 id="store-address"></h4>
                    <h4 id="store-strategy"></h4>
                </div>
            </div>
            <div id="other-info" style="display: table-cell;width: 30%;vertical-align: middle">
                <p style="font-size: 19px;margin-bottom: 0;">简介：</p>
                <p id="store-intro" class="" style="font-size: 18px;"></p>
            </div>
        </div>
    </div>
    <!--店铺商品信息-->
    <div class="container" style="width: 95%;">
        <!--商品信息：商品分类+具体商品列表-->
        <div class="col-sm-10">
            <!--商品分类-->
            <div id="good-type-list" style="position:relative;z-index: 2;">
                <!--<a href='#type1' class='food-type'>商品分类1</a>-->
            </div>
            <!--具体商品列表-->
            <div id="good-list" class="" style="display: block;">
                <!--一个分类-->
                <!--<div class="good">
                    <h3 class="type-head"><a name="type1"></a>商品分类1</h3>
                    <div class="row row2">
                        <div id="good1-1" class="good-block col-sm-6">
                            <img src="../../static/images/image.jpg" class="food-img">
                            <div class="good-info">
                                <h3 class="good-name">商品名</h3>
                                <p class="good-desc">商品描述</p>
                                <h4 class="good-price">商品价格</h4>
                                <button class="btn btn-primary add-to-cart">加入购物车</button>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>

        <!--购物车-->
        <div class="" style="position: fixed;background: #ffffff;border: 1px solid #eee;right: 0;width: 280px;bottom: 0;padding: 0;">
            <div id="shop-cart" style="font-family: 华文楷体, serif;padding-bottom: 10px;border-bottom: 1px solid #eee;">
                <h3 style="margin-top: 5px;display: inline;">购物车</h3>
                <p id="clear-cart" style="display: inline;color: #337ab7;font-size: 18px;cursor:pointer;">[清空]</p>
            </div>
            <div id="cart" style="margin-bottom: 54px;"></div>
            <!--一条购物车记录-->
            <!--<div class="cart-list">-->
                <!--<div class="name" style="">海参捞饭</div>-->
                <!--&lt;!&ndash;数字加减器&ndash;&gt;-->
                <!--<div id="1" class="input-group" style="width: 60px;padding-top:8px">-->
                    <!--<span  class="input-group-addon input-group-addon-remove quantity-remove btn">-->
                        <!--<span class="glyphicon glyphicon-minus"></span>-->
                    <!--</span>-->
                    <!--<input id="1inp" type="text" value="1" min="1" class="form-control cart-num-input" placeholder="1" style="" readonly>-->
                    <!--<span class="input-group-addon input-group-addon-remove quantity-add btn">-->
                        <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <!--</span>-->
                <!--</div>-->
                <!--<div class="price-and-amount">￥50</div>-->
            <!--</div>-->

            <div style="font-family: 华文楷体, serif;">
                <div id="total" style="position: fixed;display: inline-block;background: #337ab7;color: #ffffff;">
                    <p id="total-price">￥ 0.00</p>
                </div>
                <button id="pay" style="display: inline-block" onclick="pay()">结算</button>
            </div>
        </div>
    </div>

</div>
<script>
    window.onload=function () {
        var store;
        if(localStorage.getItem('cart-list')==undefined){
            localStorage.setItem('cart-list',JSON.stringify({}));
        }
        store={
            "id": "0000002",
            "name": "武汉热干面",
            "boss": "张老板",
            "email": "2946062178@qq.com",
            "introduce": "正宗武汉热干面",
            "type": "HotFood",
            "food_types": [
                "招牌热干面",
                "热干面套餐",
                "常规热干面"
            ],
            "province": "江苏省",
            "city": "南京市",
            "area": "玄武区",
            "detail": "xx街道xx号",
            "discounts": "满33减4 满22减3 满44减5 ",
            "goods": {
                "热干面套餐": [
                    {
                        "id": 4,
                        "name": "原味热干面+鸡蛋+饮料",
                        "description": "价低量大",
                        "price": 30,
                        "amount": 100,
                        "type": "热干面套餐",
                        "start_time": "2019-02-28 00:00:00",
                        "end_time": "2019-03-31 00:00:00",
                        "state": "Valid"
                    },
                    {
                        "id": 6,
                        "name": "原味热干面+鸡蛋+饮料",
                        "description": "价低量大",
                        "price": 30,
                        "amount": 100,
                        "type": "热干面套餐",
                        "start_time": "2019-02-28 00:00:00",
                        "end_time": "2019-03-31 00:00:00",
                        "state": "Valid"
                    },
                    {
                        "id": 7,
                        "name": "原味热干面+鸡蛋+饮料",
                        "description": "价低量大",
                        "price": 30,
                        "amount": 100,
                        "type": "热干面套餐",
                        "start_time": "2019-02-28 00:00:00",
                        "end_time": "2019-03-31 00:00:00",
                        "state": "Valid"
                    }
                ],
                "招牌热干面": [
                    {
                        "id": 3,
                        "name": "原味热干面",
                        "description": "无",
                        "price": 18,
                        "amount": 400,
                        "type": "招牌热干面",
                        "start_time": "2019-02-27 00:00:00",
                        "end_time": "2019-03-31 00:00:00",
                        "state": "Valid"
                    },
                    {
                        "id": 8,
                        "name": "原味热干面",
                        "description": "无",
                        "price": 18,
                        "amount": 400,
                        "type": "招牌热干面",
                        "start_time": "2019-02-27 00:00:00",
                        "end_time": "2019-03-31 00:00:00",
                        "state": "Valid"
                    },
                    {
                        "id": 9,
                        "name": "原味热干面",
                        "description": "无",
                        "price": 18,
                        "amount": 400,
                        "type": "招牌热干面",
                        "start_time": "2019-02-27 00:00:00",
                        "end_time": "2019-03-31 00:00:00",
                        "state": "Valid"
                    },
                    {
                        "id": 10,
                        "name": "原味热干面",
                        "description": "无",
                        "price": 18,
                        "amount": 400,
                        "type": "招牌热干面",
                        "start_time": "2019-02-27 00:00:00",
                        "end_time": "2019-03-31 00:00:00",
                        "state": "Valid"
                    }
                ],
                "常规热干面": [
                    {
                        "id": 5,
                        "name": "常规热干面",
                        "description": "无",
                        "price": 18,
                        "amount": 400,
                        "type": "常规热干面",
                        "start_time": "2019-02-27 00:00:00",
                        "end_time": "2019-03-31 00:00:00",
                        "state": "Valid"
                    }
                ]
            }
        };
        localStorage.setItem("store",JSON.stringify(store));
        localStorage.setItem("store_id",store.id);

        loadHeader(store);
        loadGoods(store.goods);
        loadCart(store.id);
        $.ajax({
            url: "getStoreInfo",
            type: "/POST",
            cache: false,
            async: false,
            data: {
                store_id: localStorage.getItem("store_id")
            },
            success: function (data) {
                store=data;
                loadHeader(store);
                loadGoods(store.goods);
                loadCart(store.id);
            },
            error: function (XMLHttpRequest,textStatus,errorThrown) {
                alert("服务器连接错误,请重试");
                console.log("错误状态码："+XMLHttpRequest.status+"\n错误信息："+textStatus+"\n"+errorThrown);
            }
        })
    };
    function loadHeader(store){
        $("#store-name").html(store.name);
        $("#store-address").html(store.area+store.detail);
        $("#store-strategy").html(store.discounts);
        $("#store-intro").html(store.introduce)
    }
    function loadGoods(goods){//参数为map类型,key值为商品类型,value为该类型商品列表
        for(var key in goods){
            loadGoodByType(key,goods[key]);
        }
    }
    function loadGoodByType(key, value){
        //设置上方类别链接
        $("#good-type-list").append("<a href='#"+key+"' class='food-type'>"+key+"</a>");
        //加载商品信息,good-list模块append一个good的div
        $("#good-list").append("<div class='good'>" +
            "                    <h3 class='type-head'><a name='"+key+"'></a>"+key+"</h3>" +
            "                    <div class='row row2' id='one-type-"+key+"'>" +
            "                    </div>" +
            "                </div>");
        for(var i=0;i<value.length;i++){
            var good=value[i];
            $("#"+"one-type-"+key).append("<div class='good-block col-sm-6'>" +
                "                            <img src='../../static/images/image.jpg' class='food-img'>" +
                "                            <div class='good-info'>" +
                "                                <h3 id='name-"+good.id+"' class='good-name'>"+good.name+"</h3>" +
                "                                <p class='good-desc'>"+good.description+"</p>" +
                "                                <h4 id='price-"+good.id+"' class='good-price'>￥"+good.price+"</h4>" +
                "                                <button id='"+good.id+"' class='btn btn-primary add-to-cart' onclick='addToCart(this.id)'>加入购物车</button>" +
                "                            </div>" +
                "                        </div>")
        }
    }
    /*
    localstorage中的cart-list存的是string，读取时要parse成对象
    {
        '0000001':[ {good_id:4,good_name:'name4',num:3,good_price:8.8},
                    {good_id:5,good_name:'name5',num:2,good_price:9.9}],
        '0000002':[ {good_id:6,good_name:'name6',num:1,good_price:10.0},
                    {good_id:7,good_name:'name7',num:4,good_price:11.0}]
    }
    */
    function loadCart(store_id) {
        var cart_list=JSON.parse(localStorage.getItem('cart-list'));
        var this_store_cart_list=cart_list[store_id];
        // alert(JSON.stringify(this_store_cart_list));
        var total=0;
        $("#cart").empty();
        if(this_store_cart_list!=undefined && (this_store_cart_list.length!==0)) {
            for (var j=0;j<this_store_cart_list.length;j++){
                var one_cart_item=this_store_cart_list[j];
                var item_total=one_cart_item.num * one_cart_item.good_price;
                total=total+item_total;
                $("#cart").append("<div class='cart-list'>" +
                    "                <div class='name'>"+one_cart_item.good_name+"</div>" +
                    "                <div class='input-group' style='width: 60px;padding-top:8px'>" +
                    "                    <span id='quantity-remove-"+one_cart_item.good_id+"' class='input-group-addon input-group-addon-remove quantity-remove btn' onclick='remove(this.id)'>" +
                    "                        <span class='glyphicon glyphicon-minus'></span>" +
                    "                    </span>" +
                    "                    <input id='pd-"+one_cart_item.good_id+"' type='text' value='"+one_cart_item.num+"' min='1' class='form-control cart-num-input' placeholder='1' readonly>" +
                    "                    <span id='quantity-add-"+one_cart_item.good_id+"' class='input-group-addon input-group-addon-remove quantity-add btn' onclick='add(this.id)'>" +
                    "                        <span class='glyphicon glyphicon-plus'></span>" +
                    "                    </span>" +
                    "                </div>" +
                    "                <div class='price-and-amount'>￥ "+item_total+"</div>" +
                    "            </div>")
            }
            // alert(total);
            $('#total-price').html('￥ '+total);
        }else{
            console.log("之前没有购物车");
            cart_list[store_id]=[];
            localStorage.setItem('cart-list',JSON.stringify(cart_list));
        }
    }
    function addToCart(good_id){
        var store_id=localStorage.getItem('store_id');
        // alert('good_id: '+good_id);
        var cart=JSON.parse(localStorage.getItem('cart-list'));
        var  this_store_cart_list=cart[store_id];
        var exist=false;
        var len=this_store_cart_list.length;
        for(var s=0;s<len;s++){
            var c=this_store_cart_list[s];
            if(c.good_id===good_id){//购物车中已存在该商品
                exist=true;
                c.num=c.num+1;
            }
        }
        if(!exist){
            var good_name=$("#name-"+good_id).html();
            var good_price=$("#price-"+good_id).html().substr(1);
            var new_cart_item={good_id:good_id,good_name:good_name,good_price:good_price,num:1};
            this_store_cart_list[len]=new_cart_item;
            cart[store_id]=this_store_cart_list;
        }
        cart[store_id]=this_store_cart_list;
        localStorage.setItem('cart-list',JSON.stringify(cart));
        loadCart(store_id)
    }
    function removeFromCart(good_id) {
        var store_id=localStorage.getItem('store_id');
        // alert('要删除的商品id：'+good_id);
        var cart=JSON.parse(localStorage.getItem('cart-list'));
        var this_store_cart=cart[store_id];
        var index;
        for(index=0;index<this_store_cart.length;index++){
            var c=this_store_cart[index];
            if(c.good_id===good_id){
                if(c.num===1){//购物车中只有一个该商品，remove后删除
                    this_store_cart.splice(index,1);
                }else{
                    c.num=c.num-1;
                }
            }
        }
        cart[store_id]=this_store_cart;
        localStorage.setItem('cart-list',JSON.stringify(cart));
        loadCart(store_id)
    }
    function remove(remove_btn_id){
        //id形式为quantity-remove-xxxxx
        // alert(remove_btn_id);
        var id=remove_btn_id.substr(16);
        removeFromCart(id)
        // alert(id)
    }
    function add(add_btn_id){
        //id形式为quantity-add-xxxxx
        var id=add_btn_id.substr(13);
        addToCart(id);

    }
    function pay() {
        var store_id=localStorage.getItem('store_id');
        var good_list=JSON.parse(localStorage.getItem('cart-list'))[store_id];
        var order_info={
            store_id:store_id,
            username:localStorage.getItem('username'),
            list:good_list
        };
    }
    function logout(){
        localStorage.clear();
        window.location.href='/login';
    }
    $(function () {
        $(window).scroll(function () {
            var srcoH = $(this).scrollTop();
            // console.log(srcoH);
            if(srcoH>=140){
                $("#good-type-list").css({"position":"fixed","top":'52px','width':'75.2%'})
            }else{
                $("#good-type-list").css({"position":"relative","width":"100%","top":"0"})
            }
        })
    })
</script>
</body>
</html>