<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.js"></script>
    <style>
        body{
            background: #f7f7f7;
        }
        .head-img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-right: 15px;
        }
        #header-info{
            background: url("/images/ele-bg.jpg") no-repeat;
            background-size: cover;
        }
        #store-name:hover{
            color: #337ab7;
        }
        .food-type{
            display: inline-block;
            margin-right: 40px;
            cursor: pointer;
            color: #000;
        }
        .food-type:hover{
            text-decoration: none;
        }
        #good-type-list{
            padding: 10px 15px;
            margin-top: 10px;
            font-size: 20px;
            font-family: 华文楷体,serif;
            background: white;
            border: 1px solid #eee;
            width: fit-content;
        }
        .good-block{
            margin-bottom: 5px;
            background: #fff;
            border: 1px solid #eeeeee;
            padding: 0;
            width: 48%;
            margin-right: 2%;
            /*height: 120px;*/
        }
        .type-head{
            text-align: left;
        }
        .food-img {
            width: 120px;
            height: 120px;
        }
        .row2{
            margin-left: 0;
            margin-right: 0;
            width: 102%;
            margin-bottom: 15px;
        }
        .good-info{
            display: inline-block;
            vertical-align: top;
            font-family: 华文楷体, serif;
            height: 120px;
            margin-left: 5px;
        }
        .good-name{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .good-desc{
            font-size: 16px;
        }
        .good-price{
            position: absolute;
            color: #337ab7;
            font-weight: 800;
            bottom: 10px;
        }
        .add-to-cart{
            border-radius: 5px;
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
        #pay{
            position: fixed;
            bottom: 0;
            right: 0;
            width: 120px;
            height: 54px;
            border: none;
            font-size: 24px;
        }
        #total{
            display: inline-block;
            height: 54px;
            font-size: 27px;
            margin:0;
            padding-top: 10px;
            width: 160px;
            bottom: 0;
        }
        .price-and-amount{
            width: 17%;
            vertical-align: middle;
            display: table-cell;
            font-size: 17px;
        }
        .cart-num-input{
            background:#ffffff;
            height: 23px;
            padding: 0;
            text-align: center
        }
        .cart-list{
            height: 40px;
            width: 100%;
            display: table;
            table-layout: fixed;
            font-family: 华文楷体, serif;
            border-bottom: 1px solid #eee;
        }
        .name{
            width: 55%;
            font-size: 19px;
            display: table-cell;
            vertical-align: middle
        }
        .quantity-add,.quantity-remove {
            padding: 0;
            cursor: pointer;
        }
        .part{
            border-bottom: 1px solid #e5e5e5;
            font-size: 16px;
        }
        .part-header{
            font-weight: 700;
        }
        .total-line{
            position: relative;
            height: 25px;
        }
        .con1{
            display: inline;
            position: absolute;
            left: 5px;
        }
        .con2{
            display: inline;
            position: absolute;
            right: 5px;
        }
    </style>
</head>
<body>
<div>
    <!--导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin:0;font-size: 23px;font-family: 华文楷体, serif;">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-right: 20px;">
                <a class="navbar-brand" href="#" style="font-size: 30px;color: rgba(0,0,0,1)">Yummy</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/user_home">商品主页</a></li>
                    <li><a href="/myOrder">我的订单</a></li>
                    <li><a href="/personal">个人中心</a></li>
                    <li><a href="/myStatistics">消费统计</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="title-username" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            用户名
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="font-size: 18px;min-width: 115px;text-align: center;">
                            <li style="cursor: pointer" onclick="logout()"><a>登出</a></li>
                            <li><a href="/modifyPass">修改密码</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--店铺基本信息-->
    <div id="header-info">
        <div class="container" style="color: white;margin-top: 51px;display: table;height: 140px;font-family: 华文楷体, serif;z-index: 1">
            <div id="main-info" style="display: table-cell;width: 70%;vertical-align: middle;">
                <img class="head-img" src="/images/image.jpg" >
                <div id="name-intro" style="display: inline-block;vertical-align: middle;">
                    <h2 id="store-name" style="cursor: pointer"></h2>
                    <h4 id="store-address"></h4>
                    <h4 id="store-strategy"></h4>
                </div>
            </div>
            <div id="other-info" style="display: table-cell;width: 30%;vertical-align: middle">
                <p style="font-size: 19px;margin-bottom: 0;">简介：</p>
                <p id="store-intro" class="" style="font-size: 18px;"></p>
                <p id="arrive-time" style="font-size: 19px;margin-bottom: 0;">平局送达时间：40分钟</p>
            </div>
        </div>
    </div>
    <!--店铺商品信息-->
    <div class="container" style="width: 95%;">
        <!--商品信息：商品分类+具体商品列表-->
        <div class="col-sm-10">
            <!--商品分类-->
            <div id="good-type-list" style="position:relative;z-index: 2;">
                <!--<a href='#type1' class='food-type'>商品分类1</a>-->
            </div>
            <!--具体商品列表-->
            <div id="good-list" class="" style="display: block;">
                <!--一个分类-->
                <!--<div class="good">
                    <h3 class="type-head"><a name="type1"></a>商品分类1</h3>
                    <div class="row row2">
                        <div id="good1-1" class="good-block col-sm-6">
                            <img src="../../static/images/image.jpg" class="food-img">
                            <div class="good-info">
                                <h3 class="good-name">商品名</h3>
                                <p class="good-desc">商品描述</p>
                                <h4 class="good-price">商品价格</h4>
                                <button class="btn btn-primary add-to-cart">加入购物车</button>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>

        <!--购物车-->
        <div class="" style="position: fixed;background: #ffffff;border: 1px solid #eee;right: 0;width: 280px;bottom: 0;padding: 0;">
            <div id="shop-cart" style="font-family: 华文楷体, serif;padding-bottom: 10px;border-bottom: 1px solid #eee;">
                <h3 style="margin-top: 5px;display: inline;">购物车</h3>
                <p id="clear-cart" style="display: inline;color: #337ab7;font-size: 18px;cursor:pointer;">[清空]</p>
            </div>
            <div id="cart" style="margin-bottom: 54px;"></div>
            <!--一条购物车记录>
            <div class="cart-list">
                <div class="name" style="">海参捞饭</div>

                <div id="1" class="input-group" style="width: 60px;padding-top:8px">
                    <span  class="input-group-addon input-group-addon-remove quantity-remove btn">
                        <span class="glyphicon glyphicon-minus"></span>
                    </span>
                    <input id="1inp" type="text" value="1" min="1" class="form-control cart-num-input" placeholder="1" style="" readonly>
                    <span class="input-group-addon input-group-addon-remove quantity-add btn">
                        <span class="glyphicon glyphicon-plus"></span>
                    </span>
                </div>
                <div class="price-and-amount">￥50</div>
            </div>-->

            <div style="font-family: 华文楷体, serif;">
                <div id="total" style="position: fixed;display: inline-block;background: #337ab7;color: #ffffff;">
                    <p id="total-price">￥ 0.00</p>
                </div>
                <button type="button" id="pay" style="display: inline-block" data-toggle="modal" data-target="#pre-order">结算</button>
            </div>
        </div>
    </div>
    <div id="pre-order" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>订单预览</h3>
                </div>
                <div class="modal-body">
                    <div class="part">
                        <h4 class="part-header">收货地址</h4>
                        <p id="name-and-tel" style="display: inline"></p>
                        <br>
                        <p id="detail-address" style="display: inline;"></p>
                        <button id="change-address" class="btn btn-success btn-sm" data-toggle="modal" data-target="#address-table" type="button" style="display: inline-block;margin-bottom: 5px">选择地址</button>
                        <p id="time">预计送达时间：-</p>
                    </div>
                    <div class="part">
                        <h4 id="modal-store-name" class="part-header">店铺名</h4>
                        <table id="order-table" class="table table-hover" style="border-bottom: none;">
                        </table>
                        <div class="total-line">
                            <p class="con1">优惠</p>
                            <p id="youhui-value" class="con2">￥ -</p>
                        </div>
                        <div class="total-line">
                            <p class="con1">总额</p>
                            <p id="final-total" class="con2">￥ -</p>
                        </div>
                    </div>
                    <div style="font-size: 16px;">
                        <h4 class="part-header">付款账户</h4>
                        <p id="pay-account" style="display: inline-block"></p>
                        <button id="change-account" class="btn btn-success btn-sm" data-toggle="modal" data-target="#account-table" type="button" style="display: inline-block">选择账户</button>
                    </div>
                    <div class="form-group">
                        <label for="note">备注</label>
                        <input id="note" type="text" placeholder="" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="cancel-submit" class="btn btn-dark" data-dismiss="modal">取消</button>
                    <button id="sure-submit" class="btn btn-success" data-dismiss="modal">下单</button>
                </div>
            </div>
        </div>
    </div>
    <div id="address-table" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">选择地址</div>
                <div class="modal-body">
                    <table id="modal-add-table"></table>
                </div>
                <div class="modal-footer">
                    <button id="cancel-choose-address" class="btn btn-dark" data-dismiss="modal">取消</button>
                    <button id="sure-choose-address" class="btn btn-success" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div id="account-table" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">选择付款账户</div>
                <div class="modal-body">
                    <table id="modal-account-table"></table>
                </div>
                <div class="modal-footer">
                    <button id="cancel-choose-account" class="btn btn-dark" data-dismiss="modal">取消</button>
                    <button id="sure-choose-account" class="btn btn-success" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    window.onload=function () {
        var store;
        $('#title-username').text(localStorage.getItem('username'));
        if(localStorage.getItem('cart-list')==undefined){
            localStorage.setItem('cart-list',JSON.stringify({}));
        }
        $.ajax({
            url: "/getStoreVo",
            type: "POST",
            cache: false,
            async: false,
            data: {
                store_id: localStorage.getItem("store_id")
            },
            success: function (data) {
                store=data;
                localStorage.setItem("store",JSON.stringify(store));
                localStorage.setItem("store_id",store.id);
                loadHeader(store);
                loadGoods(store.goods);
                loadCart(store.id);
            },
            error: function (XMLHttpRequest,textStatus,errorThrown) {
                alert("服务器连接错误,请重试");
                console.log("错误状态码："+XMLHttpRequest.status+"\n错误信息："+textStatus+"\n"+errorThrown);
            }
        })
    };
    function loadHeader(store){
        $("#store-name").html(store.name);
        $("#store-address").html(store.area+store.detail);
        var discounts=store.discounts;
        $("#store-strategy").html(formatDiscountMapToString(discounts));
        $("#store-intro").html(store.introduce);
        localStorage.setItem("discounts",JSON.stringify(discounts));
        localStorage.setItem('store_name',store.name);
        localStorage.setItem('store_address_city',store.city);
        localStorage.setItem('store_address_area',store.area);
        if(localStorage.getItem('address')==undefined){
            $("#arrive-time").html('平均送达时间：'+"未选择地址无法判断");
        }else{
            var loc1=JSON.parse(localStorage.getItem('address')).area;
            var loc2=store.area;
            if(loc1===loc2){
                $('#arrive-time').html('平均送达时间：40分钟');
                localStorage.setItem('arrive-time','40分钟');
            }else{
                $('#arrive-time').html('平均送达时间：60分钟');
                localStorage.setItem('arrive-time','60分钟');
            }
        }
    }
    function loadGoods(goods){//参数为map类型,key值为商品类型,value为该类型商品列表
        for(var key in goods){
            loadGoodByType(key,goods[key]);
        }
    }
    function loadGoodByType(key, value){
        //设置上方类别链接
        $("#good-type-list").append("<a href='#"+key+"' class='food-type'>"+key+"</a>");
        //加载商品信息,good-list模块append一个good的div
        $("#good-list").append("<div class='good'>" +
            "                    <h3 class='type-head'><a name='"+key+"'></a>"+key+"</h3>" +
            "                    <div class='row row2' id='one-type-"+key+"'>" +
            "                    </div>" +
            "                </div>");
        for(var i=0;i<value.length;i++){
            var good=value[i];
            $("#"+"one-type-"+key).append("<div class='good-block col-sm-6'>" +
                "                            <img src='/images/image.jpg' class='food-img'>" +
                "                            <div class='good-info'>" +
                "                                <h3 id='name-"+good.id+"' class='good-name'>"+good.name+"</h3>" +
                "                                <p class='good-desc'>"+good.description+"</p>" +
                "                                <h4 id='price-"+good.id+"' class='good-price'>￥"+good.price+"</h4>" +
                "                                <button id='"+good.id+"' class='btn btn-primary add-to-cart' onclick='addToCart(this.id)'>加入购物车</button>" +
                "                            </div>" +
                "                        </div>")
        }
    }
    $('#clear-cart').click(function () {
        var cart_list=JSON.parse(localStorage.getItem('cart-list'));
        $("#cart").empty();
        var store_id=localStorage.getItem('store_id');
        cart_list[store_id]=[];
        localStorage.setItem('cart-list',JSON.stringify(cart_list));
        $('#total-price').html('￥ 0.00')
    });
    function loadCart(store_id) {
        var cart_list=JSON.parse(localStorage.getItem('cart-list'));
        var this_store_cart_list=cart_list[store_id];
        // alert(JSON.stringify(this_store_cart_list));
        var total=0;
        $("#cart").empty();
        if(this_store_cart_list!=undefined && (this_store_cart_list.length!==0)) {
            for (var j=0;j<this_store_cart_list.length;j++){
                var one_cart_item=this_store_cart_list[j];
                var item_total=one_cart_item.num * one_cart_item.good_price;
                total=total+item_total;
                $("#cart").append("<div class='cart-list'>" +
                    "                <div class='name'>"+one_cart_item.good_name+"</div>" +
                    "                <div class='input-group' style='width: 60px;padding-top:8px'>" +
                    "                    <span id='quantity-remove-"+one_cart_item.good_id+"' class='input-group-addon input-group-addon-remove quantity-remove btn' onclick='remove(this.id)'>" +
                    "                        <span class='glyphicon glyphicon-minus'></span>" +
                    "                    </span>" +
                    "                    <input id='pd-"+one_cart_item.good_id+"' type='text' value='"+one_cart_item.num+"' min='1' class='form-control cart-num-input' placeholder='1' readonly>" +
                    "                    <span id='quantity-add-"+one_cart_item.good_id+"' class='input-group-addon input-group-addon-remove quantity-add btn' onclick='add(this.id)'>" +
                    "                        <span class='glyphicon glyphicon-plus'></span>" +
                    "                    </span>" +
                    "                </div>" +
                    "                <div class='price-and-amount'>￥ "+item_total+"</div>" +
                    "            </div>")
            }
            // alert(total);
            var youhui=caculateTotal(total);
            $('#total-price').html('￥ '+(total-youhui)+'<small>(已减'+youhui+')</small>');
            localStorage.setItem('youhui',youhui);
            localStorage.setItem('total-price',(total-youhui));
        }else{
            console.log("之前没有购物车");
            cart_list[store_id]=[];
            localStorage.setItem('cart-list',JSON.stringify(cart_list));
            $('#total-price').html('￥ 0.00')
        }
    }
    $("#sure-choose-address").click(function () {
        var $table=$("#modal-add-table");
        var chosen = $table.bootstrapTable('getSelections');
        if(chosen.length===0){
            alert("未选择地址");
        }else{
            var now_add=chosen[0];
            var city=now_add.city;
            if(localStorage.getItem('store_address_city')!==city){
                alert('选择地址超出配送范围');
            }else{
                localStorage.setItem('address',JSON.stringify(chosen[0]));
                $("#name-and-tel").html(now_add.name+" "+now_add.telephone);
                $("#detail-address").html(now_add.area+now_add.detail);
                var time;
                if(localStorage.getItem('store_address_area')===now_add.area){
                    time=40;
                }else{
                    time=60;
                }
                $("#time").html("预计送达时间："+time+"分钟");
            }
        }
    });
    $("#change-address").click(function () {
        $("#address-table").on('shown.bs.modal',function () {
            var addresses=[];
            // var addresses=[{id:0,name:'张',telephone:'1288319291',province:'江苏省',city:'南京市',area:'玄武区',detail:'西乡街道xx号'},
            //     {id:1,name:'张',telephone:'1288319291',province:'江苏省',city:'无锡市',area:'玄武区',detail:'西乡街道xx号'}];
            $.ajax({
                url:"/getAddressList",
                type:"POST",
                cache:false,
                async:false,
                data:{
                    username:localStorage.getItem('username')
                },
                success:function (data) {
                    addresses=data;
                },
                error:function (XMLHttpRequest, status, error) {
                    console.log(XMLHttpRequest.status+" "+status+" "+error)
                }
            });
            $("#modal-add-table").bootstrapTable({
                checkboxHeader: false,
                singleSelect:true,
                clickToSelect:true,
                showColumns:false,
                sidePagination: 'server',
                columns: [
                    {
                        checkbox:true
                    },
                    {
                        field: 'id',
                        title: '地址编号',
                        visible: false
                    },
                    {
                        field: 'name',
                        title: '收货人',
                        visible: true
                    },
                    {
                        field:'telephone',
                        title:'收货电话',
                        visible:true
                    },
                    {
                        field:'province',
                        title:'省',
                        visible:false
                    },
                    {
                        field:'city',
                        title:'市',
                        visible:false
                    },
                    {
                        field:'area',
                        title:'区',
                        visible:true
                    },
                    {
                        field:'detail',
                        title:'地址',
                        visible:true
                    }
                ],
                data:addresses
            });
        })
    });
    $('#sure-choose-account').click(function () {
        var $table=$("#modal-account-table");
        var chosen=$.map($table.bootstrapTable('getSelections'),function (row) {
            return row.account;
        });
        if(chosen.length===0){
            alert("未选择账户");
        }else{
            localStorage.setItem('pay-account',chosen[0]);
            $('#pay-account').html(chosen[0])
        }
    });
    $("#change-account").click(function () {
        var $table=$('#modal-account-table');
        var accounts=[];
        $.ajax({
            url:"/getAccountList",
            type:"POST",
            cache:false,
            async:false,
            data:{
                username:localStorage.getItem('username')
            },
            success:function (data) {
                accounts=data;
            },
            error:function (XMLHttpRequest, status, error) {
                console.log(XMLHttpRequest.status+" "+status+" "+error)
            }
        });
        $table.bootstrapTable({
            checkboxHeader: false,
            singleSelect:true,
            clickToSelect:true,
            showColumns:false,
            columns:[
                {
                    checkbox:true
                },
                {
                    field:'account',
                    title:'银行卡账号'
                }
            ],
            data:accounts
        })
    });
    function addToCart(good_id){
        var store_id=localStorage.getItem('store_id');
        // alert('good_id: '+good_id);
        var cart=JSON.parse(localStorage.getItem('cart-list'));
        var  this_store_cart_list=cart[store_id];
        var exist=false;
        var len=this_store_cart_list.length;
        for(var s=0;s<len;s++){
            var c=this_store_cart_list[s];
            if(c.good_id===good_id){//购物车中已存在该商品
                exist=true;
                c.num=c.num+1;
            }
        }
        if(!exist){
            var good_name=$("#name-"+good_id).html();
            var good_price=$("#price-"+good_id).html().substr(1);
            var new_cart_item={good_id:good_id,good_name:good_name,good_price:good_price,num:1};
            this_store_cart_list[len]=new_cart_item;
            cart[store_id]=this_store_cart_list;
        }
        cart[store_id]=this_store_cart_list;
        localStorage.setItem('cart-list',JSON.stringify(cart));
        loadCart(store_id)
    }
    function removeFromCart(good_id) {
        var store_id=localStorage.getItem('store_id');
        // alert('要删除的商品id：'+good_id);
        var cart=JSON.parse(localStorage.getItem('cart-list'));
        var this_store_cart=cart[store_id];
        var index;
        for(index=0;index<this_store_cart.length;index++){
            var c=this_store_cart[index];
            if(c.good_id===good_id){
                if(c.num===1){//购物车中只有一个该商品，remove后删除
                    this_store_cart.splice(index,1);
                }else{
                    c.num=c.num-1;
                }
            }
        }
        cart[store_id]=this_store_cart;
        localStorage.setItem('cart-list',JSON.stringify(cart));
        loadCart(store_id)
    }
    function remove(remove_btn_id){
        //id形式为quantity-remove-xxxxx
        // alert(remove_btn_id);
        var id=remove_btn_id.substr(16);
        removeFromCart(id)
        // alert(id)
    }
    function add(add_btn_id){
        //id形式为quantity-add-xxxxx
        var id=add_btn_id.substr(13);
        addToCart(id);

    }
    $("#pay").click(function () {
        var store_id=localStorage.getItem('store_id');
        var good_list=JSON.parse(localStorage.getItem('cart-list'))[store_id];
        if(good_list==undefined||good_list.length===0){
            alert('未选择任何商品');
            return;
        }else{
            $("#pre-order").on('shown.bs.modal',function () {

                var store_name=localStorage.getItem('store_name');
                var address = localStorage.getItem("address");
                if(address!=undefined){//如果已经选择过地址
                    var temp=JSON.parse(address);
                    $("#name-and-tel").html(temp.name+" "+temp.telephone);
                    $("#detail-address").html(temp.area+temp.detail);
                    $("#time").html("预计送达时间："+localStorage.getItem('arrive-time'));
                }
                $('#modal-store-name').html(store_name);
                $("#order-table").bootstrapTable('destroy');
                $("#order-table").bootstrapTable({
                    borderless:true,
                    showColumns:false,
                    columns:[
                        {
                            field:'good_id',
                            title:'ID',
                            visible:false
                        },
                        {
                            field:'good_name',
                            title:'商品',
                            visible:true
                        },
                        {
                            field:'num',
                            title:'数量',
                            visible:true
                        },
                        {
                            field:'good_price',
                            title:'小计',
                            visible:true,
                            formatter:function (value, row, index) {
                                return row.good_price * row.num;
                            }
                        }
                    ],
                    data:good_list
                });
                $('#youhui-value').html('￥ '+localStorage.getItem('youhui'));
                $('#final-total').html('￥ '+localStorage.getItem('total-price'))
                if(localStorage.getItem('pay-account')!=undefined){
                    $("#pay-account").html(localStorage.getItem('pay-account'))
                }
            });
        }

    });
    function logout(){
        localStorage.clear();
        window.location.href='/login';
    }
    function caculateTotal(total) {
        //参数：满减前的总价，返回值：应该优惠的价格
        var re=0;
        var discounts=JSON.parse(localStorage.getItem("discounts"));
        for(var key in discounts){
            if(total>parseInt(key) && re<parseInt(discounts[key])){
                re=discounts[key];
            }
        }
        return re;
    }
    function formatDiscountMapToString(discounts){
        /*"discounts": {
            "22": 3,
                "33": 4,
                "44": 5
        }*/
        var str='';
        for(var key in discounts){
            str=str+"满"+key+"减"+discounts[key]+" ";
        }
        return str;
    }
    $(function () {
        $(window).scroll(function () {
            var srcoH = $(this).scrollTop();
            // console.log(srcoH);
            if(srcoH>=140){
                $("#good-type-list").css({"position":"fixed","top":'52px','width':'75.2%'})
            }else{
                $("#good-type-list").css({"position":"relative","width":"100%","top":"0"})
            }
        })
    });
    $("#sure-submit").click(function () {

        // private int minute;//预计送达时间
        var store_id=localStorage.getItem('store_id');
        var account=localStorage.getItem('pay-account');
        var address=localStorage.getItem('address');
        var list=JSON.parse(localStorage.getItem('cart-list'))[store_id];
        if(account==undefined||address==undefined||list.length===0){
            alert('请填写完整再提交');
        }else{
            var t=JSON.parse(address);
            var data={
                store_id:store_id,
                store_name:localStorage.getItem('store_name'),
                username:localStorage.getItem('username'),
                name:t.name,
                tel:t.telephone,
                address:t.city+t.area+t.detail,
                list:list,
                account:account,
                money:localStorage.getItem('total-price'),
                discount:localStorage.getItem('youhui'),
                minute:$('#time').html().substr(7,2),
                note:$('#note').val()
            };
            // console.log(JSON.stringify(data));
            $.ajax({
                url:'submitNewOrder',
                type:'POST',
                contentType:'application/json',
                dataType:'json',
                cache:false,
                async:false,
                data:JSON.stringify(data),
                success:function (data) {
                    if(JSON.stringify(data).substr(0,14)==='StockNotEnough'){
                        alert(data.substr(14)+"库存不足,请重新选择")
                    }else if (data==='BalanceNotEnough') {
                        alert("账户余额不足,请重新选择")
                    }else{
                        //下单成功返回值为order对象字符串
                        console.log("下单成功");
                        var con;
                        con=confirm("现在付款?");
                        if(con){
                            // alert(JSON.stringify(data));
                            var order_id=data.id;
                            // alert(order_id);
                            $.ajax({
                                url:'/pay',
                                type:'POST',
                                cache:false,
                                async:false,
                                data:{
                                    order_id:order_id
                                },
                                success:function (data2) {
                                    if(data2==='BalanceNotEnough'){
                                        alert("账户余额不足")
                                    }else if (data2==='StockNotEnough') {
                                        alert("库存发生变化,请重新选择商品")
                                    }else if(data2==='SUCCESS'){
                                        alert("付款成功,即将跳转");
                                        window.location.href='/myOrder';
                                    }else{
                                        alert("付款失败，请重试")
                                    }
                                },
                                error:function (XMLHttpReuqest, status, error) {
                                    console.log(XMLHttpReuqest.status+" "+status+" "+error);
                                    alert("服务器连接失败")
                                }
                            })
                        }
                        window.location.href='/myOrder';
                    }
                },
                error:function (XMLHttpRequest, status, error) {
                    console.log(XMLHttpRequest.status+" "+status+" "+error);
                    alert("服务器连接失败")
                }
            })
        }

    });
</script>
</body>
</html>